main {
    padding: 20px; /* Padding pentru secțiunea principală */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b8926d; /* Bordură auriu subtil */
}

button {
    padding: 10px 15px;
    background-color: #ffcc00; /* auriu */
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #e6b800; /* nuanță mai închisă */
}

ul {
    list-style-type: none;
    padding: 0;
}

h2, h3 {
    margin-top: 20px;
    color: #b8926d; /* Auriu subtil pentru titluri */
}